{% extends "books/base.html" %}
{% load staticfiles %}

{% block content %}
<p>Vote on Books!</p>
<ol>
{% for book in book_list %}
    <li>
      <a href="{{ book.url }}">
      <b>{{ book.title }}</b>
      </a>
        <img src="/{{ book.cover.url }}" alt="My image"/>
        <a href="#" target-values='{"book": {{book.id}}, "currentValue": 1}' onclick="vote(this)">Upvote</a>
    </li>
{% endfor %}
</ol>

<script type="text/javascript" src="{% static 'books/jarjarbinks.js' %}"></script>
{% endblock %}