{% extends "books/base.html" %}
{% load staticfiles %}

{% block content %}
<p>Vote on Books!</p>
<ol>
{% for book in book_list %}
    <li>
      <a href="{{ book.url }}">
      <b>{{ book.title }}</b>
      </a>
        <img src="/{{ book.cover.url }}" alt="My image"/>
        {% if user.is_authenticated %}
            {% if votes_list|get_item:book.id %}
                <a href="#" class="primary-button voted"
                    target-values='{"book": {{ book.id }}, "currentValue": {{ 1 }} }'
                    onclick="vote(this)">Voted</a>
            {% else %}
                <a href="#" class="primary-button not-voted"
                    target-values='{"book": {{ book.id }}, "currentValue": {{ 0 }} }'
                    onclick="vote(this)">Vote</a>
            {% endif %}
        {% else %}
            <a href="#">Login to Vote</a>
        {% endif %}
    </li>
{% endfor %}
</ol>

<script type="text/javascript" src="{% static 'books/jarjarbinks.js' %}"></script>
{% endblock %}