{% load staticfiles %}
<html>
  <head>

  <link rel="stylesheet" type="text/css" href="{% static 'books/semantic.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'books/style.css' %}" />
  <script type="text/javascript" src="{% static 'books/jquery-2.1.4.min.js' %}"></script>
  <script type="text/javascript" src"{% static 'books/semantic.min.js' %}"></script>
  </head>
  <body>

    {% block content %}
    {% endblock %}

  <script type="text/javascript" src="{% static 'books/jarjarbinks.js' %}"></script>
  </body>
</html>