{% extends "books/base.html" %}

{% block content %}

<p><b> Book Group Name </b>: {{ book_group.name }} </p>
<p><b> Book Name </b>: {{ book_group.book.title }} </p>
<p><b> Created by </b>: {{ book_group.owner }} </p>
<p><b> Members: {{ book_group.members.count }} </b></p>

<br>

{% if progress %}

<p> You are already part of this Book Group. Your progress so far is {{ progress.pages }}

{% else %}

<p> Join this book group - <a href="{% url 'join' book_group.id %}">Click Here!</a></p>

{% endif %}


{% endblock %}